:root{
    --base-theme-color: #FDE3A7;
    --base-grey: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #C4C4C4;
    --base-maroon: #9C4A38;
    --black: #000;
    --light-grey: #C4C4C4;
}
@font-face {
    font-family: neue-montreal-medium;
    src: url('fonts/Neue\ Montreal\ Medium\ 500.otf');
  }
@font-face {
    font-family: neue-montreal-regular;
    src: url('fonts/Neue\ Montreal\ Regular\ 400.otf');
  }
@font-face {
    font-family: neue-montreal-bold;
    src: url('fonts/Neue\ Montreal\ Bold\ 700.otf');
  }
  @font-face {
      font-family: neue-montreal-light;
    src: url('fonts/Neue\ Montreal\ Light\ 300.otf');
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: neue-montreal-regular;
    display: flex;
    flex-direction: column;
    color: var(--base-theme-color);
}
a{
    color: var(--base-theme-color);
    text-decoration: none;
}
li{
    list-style: none;
}
div.body{
    width: 100%;
}
.dark-grey-bg{
    background: var(--base-grey);
}
.black-bg{
    background-color: var(--black);
}
.light-grey-bg{
    background-color: var(--light-grey);
}
.top-menu{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    z-index: 4;
    transition: .5s;
}
.hero-section{
    height: 100vh;
    min-height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo{
    font-family: neue-montreal-light;
    color: var(--base-theme-color);
}
.top-menu-items{
    display: flex;
    flex-direction: row;
    font-family: neue-montreal-regular;
    list-style: none;
    flex-wrap: wrap;
}
.top-menu-items li{
    margin: 7px 10px;
}
.top-menu-phonenumber{
    font-family: neue-montreal-regular;
}
.social-media li a img{
    height: 20px;
    width: 20px;
    margin: 5px auto;
}
.social-media{
    height: 100vh;
    position: fixed;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    width: 95%;
    z-index: 2;
}
.social-media ul{
    padding-left: 10px;
}
.scroll-bar{
    width: 5px;
    height: 50%;
    min-height: 100px;
    background-color: var(--base-theme-color);
}
.scroll-bar-position{
    background-color: var(--base-theme-color);
}
section{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.call-to-action{
    width: 90%;

}
.play-button{
    background-color: var(--base-maroon);
    width: 65px;
    height: 65px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}
.play{
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid white;
}
.center-div{
    width: 80%;
    z-index: 3;
}
.call-to-action h2{
    font-size: 65px;
    width: 200px;
    font-weight: 100;
    margin: 10px 0;
}
.about{
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-top: 80px;
    
}
.about .center-div{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
@media only screen and (max-width: 600px) {
    .about .center-div{
        display: flex;
        flex-direction: column;   
    }
}
.about .frames{
    /* width: 50%;
    min-width: 300px; */
    display: flex;
    justify-content: center;
}
.about .about-details{
    /* width: 50%;
    min-width: 300px; */
}
.frames .dotted-img{
    height: 255px;
    width: 255px;
    margin: -10px -110px;

}
.frames .white-bg{
    height: 400px;
    width: 30%;
    min-width: 225px;
}
.about h5{
    color: var(--base-maroon);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.075em;
    text-align: left;

}
.about h1{
    font-size: 50px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}
.about p{
    max-width: 300px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}
.progress-bar{
    display: flex;
    flex-direction: column;
    /* width: 400px; */
    margin: 10px 0;
}
progress, progress::-webkit-progress-bar {
    width: 100%;
    background-color: var(--base-theme-color);
    height: 5px;
}
progress::-webkit-progress-value {
    background: var(--base-maroon);
}
.progress-bar label{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.progress-percentage{
    font-family: neue-montreal-light;
}
.skills-section{
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    display: flex;
}
.skills-section h2, .section-title{
    color: var(--base-maroon);
    font-size: 15px;
    text-transform: uppercase;
}
.skills-section h1{
    font-size: 40px;
    margin: 6px 0;
}
.skills-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-heading button{
    background-color: var(--base-maroon);
    height: 38px;
    width: 195px;
    border: none;
    color: var(--base-theme-color);
}
.section-hr{
    background-color: var(--base-theme-color);
    width: 100%;
    height: 2px;
    margin: 40px 0;
}
.skills-set{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.set-flex{
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-between;
    align-items: center;
}
.skills-set p{
    width: 400px;
}
.skills-set h3{
    align-items: center;
    display: flex;
}
.latest-projects{
    padding: 100px 0;
    flex-direction: column;
}
.latest-projects .center-div{
    display: flex;
    justify-content: space-around;
}
.latest-projects h1{
    font-size: 34px;
    font-family: 'neue-montreal-light';
    letter-spacing: 0.25em;
    
}
.latest-projects .section-title{
    padding: 40px 0;
}
.place-left{
    float: left;
}
.place-right{
    float:right;
}
.project-figure{
    background: var(--light-grey);
    width: 266px;
    height: 358px;
    left: 0px;
    top: 0px;
    position: relative;
}
.projects-text{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.projects-text .space-out{
    justify-content: space-between;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.space-out .place-left{
    position: relative;
}
.place-left h1{
    position: absolute;
    bottom: 30%;
}
.arrow{
    border: solid black;
    border-width: 0 1px 1px 0;
    padding: 5px;
    transform: rotate(-75deg);
    -webkit-transform: rotate(-75deg);
    position: absolute;
    margin: 15px;
    left: 3px;
    top: -5px;
}
.arrow::before{
    width: 26px;
    content: '';
    height: 1px;
    background: #000;
    transform: rotate(43deg);
    position: absolute;
    left: -8px;
    margin: -4px;
}
.arrow-border{
    border: 1px solid #000;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    bottom: 0;
    border-radius: 50%;
    margin: 70px;
}
section.testimonials{
    background-color: var(--light-grey);
    padding: 100px 0;
}
.testimonials h1.text-slogan{
    font-family: neue-montreal-regular;
    font-size: 32px;
    font-weight: 200;
    /* min-width: 410px; */
    width: 60%;
}
.testimonies{
    width: 55%;
    min-width: 200px;
    float: right;
    
}
.testimonies blockquote::before {
    content: open-quote;
    color: var(--base-maroon);
    font-size: 170px;
    margin: -20px 20px 0 0;
}
.testimonies blockquote{
    margin-left: 0;
    display: flex;
}
.testimony .quote{
    display: flex;
    flex-direction: column;
}
.testimony figcaption{
    font-family: neue-montreal-bold;
    font-size: large;
}
.testimony h5{
    text-transform: uppercase;
    color: var(--base-maroon);
}
.arrow-slider{
    position: relative;
}
.arrow-slider .arrow.prev{
    transform: rotate(138deg);
    -webkit-transform: rotate(138deg);
    border: solid var(--base-theme-color);
    border-width: 0 2px 2px 0;
}
.arrow-slider .arrow.next{
    transform: rotate(318deg);
    -webkit-transform: rotate(318deg);
    margin-left: 65px;
    border: solid var(--base-theme-color);
    border-width: 0 2px 2px 0;
}
.arrow-slider .arrow::before{
    background-color: var(--base-theme-color);
    height: 2px;
    cursor: pointer;
}
section.news{
    font-family: neue-montreal-light;
    padding-top: 30px;
    padding-bottom: 30px;
}
section.news h1{
    text-transform: capitalize;
    font-family: neue-montreal-regular;
    font-size: 32px;
    font-weight: 200;
    color: var(--base-theme-color);
}
.news .blog-img{
    height: 254px;
    width: 290px;
    left: 0px;
    top: 197px;
    border-radius: 0px;
    background-color: var(--light-grey);
}
.blog-snippets{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.blog-caption{
    display: flex;
    flex-direction: row;
}
.blog-caption p{
    text-transform: capitalize;
}
.blog-caption .blog-header{
    color: var(--base-theme-color);
}
.news .blog-title{
    font-family: neue-montreal-medium;
    text-transform:initial;
    color: var(--base-theme-color);
}
section.footer{
    padding: 100px 0;
}
.footer h1{
    text-transform: capitalize;
    font-family: neue-montreal-regular;
    font-size: 32px;
    font-weight: 200;
    color: var(--base-theme-color);
}
.footer-div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer .logos img{
    width: 150px;
    margin: 10px 0;
    
}
.logos{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}
.contact-form .form-input input, .contact-form .form-input textarea{
    background: transparent;
    border: none;
    border-bottom: 1px solid var(--base-theme-color);
    width: 100%;
    margin: 14px 0;
    color: var(--base-theme-color);
}
.contact-form .form-input input::placeholder, .contact-form .form-input textarea::placeholder{
    color: var(--base-theme-color);
}
.contact-form button{
    border: 1px solid var(--base-maroon);
    background: var(--base-maroon);
    color: #fff;
    width: 100px;
    height: 35px;
}