:root{
    --base-theme-color: #FDE3A7;
    --base-grey: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), #C4C4C4;
    --base-maroon: #9C4A38;
    --black: #000;
}
@font-face {
    font-family: neue-montreal-medium;
    src: url('fonts/Neue\ Montreal\ Medium\ 500.otf');
  }
@font-face {
    font-family: neue-montreal-regular;
    src: url('fonts/Neue\ Montreal\ Regular\ 400.otf');
  }
@font-face {
    font-family: neue-montreal-bold;
    src: url('fonts/Neue\ Montreal\ Bold\ 700.otf');
  }
  @font-face {
      font-family: neue-montreal-light;
    src: url('fonts/Neue\ Montreal\ Light\ 300.otf');
}
body{
    width: 100%;
    margin: 0 auto;
    font-family: neue-montreal-regular;
    display: flex;
    flex-direction: column;
    color: var(--base-theme-color);
}
a{
    color: var(--base-theme-color);
    text-decoration: none;
}
li{
    list-style: none;
}
div.body{
    width: 100%;
}
.top-menu{
    position: fixed;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}
.hero-section{
    background: var(--base-grey);
    height: 100vh;
    min-height: 500px;
    align-items: center;
    display: flex;
    justify-content: center;
}
.logo{
    font-family: neue-montreal-light;
    color: var(--base-theme-color);
}
.top-menu-items{
    display: flex;
    flex-direction: row;
    font-family: neue-montreal-regular;
    list-style: none;
}
.top-menu-items li{
    margin: 7px 10px;
}
.top-menu-phonenumber{
    font-family: neue-montreal-regular;
}
.social-media li a img{
    height: 20px;
    width: 20px;
    margin: 5px auto;
}
.social-media{
    height: 100vh;
    position: fixed;
    align-items: center;
    margin-top: 50px;
    justify-content: space-between;
    display: flex;
    width: 95%;
    z-index: 2;
}
.scroll-bar{
    width: 5px;
    height: 50%;
    min-height: 100px;
    background-color: var(--base-theme-color);
}
.scroll-bar-position{
    background-color: var(--base-theme-color);
}
section{
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.call-to-action{
    width: 90%;

}
.play-button{
    background-color: var(--base-maroon);
    width: 65px;
    height: 65px;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
}
.play{
    width: 0;
    height: 0;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 25px solid white;
}
.center-div{
    width: 80%;
}
.call-to-action h2{
    font-size: 65px;
    width: 200px;
    font-weight: 100;
    margin: 10px 0;
}
.about{
    background-color: var(--black);
    display: flex;
    flex-direction: row;
    padding: 30px;
    padding-top: 80px;
}
.about .frames{
    width: 50%;
    min-width: 300px;
    display: flex;
    justify-content: center;
}
.about .about-details{
    width: 50%;
    min-width: 300px;
}
.frames .dotted-img{
    height: 255px;
    width: 255px;
    margin: -10px -110px;

}
.frames .white-bg{
    height: 400px;
    width: 290px;
}
.about h5{
    color: var(--base-maroon);
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0.075em;
    text-align: left;

}
.about h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;

}
.about p{
    width: 300px;
    font-size: 15px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;

}
.progress-bar{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 10px 0;
}
progress, progress::-webkit-progress-bar {
    width: 100%;
    background-color: var(--base-theme-color);
    height: 5px;
}
progress::-webkit-progress-value {
    background: var(--base-maroon);
}
.progress-bar label{
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}
.progress-percentage{
    font-family: neue-montreal-light;
}
.skills-section{
    background:  var(--base-grey);
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px 0;
    display: flex;
}
.skills-section h2, .section-title{
    color: var(--base-maroon);
    font-size: 15px;
    line-height: 19px;
    letter-spacing: 0.075em;
    text-align: left;
}
.skills-section h1{
    font-size: 40px;
    margin: 6px 0;
}
.skills-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.skills-heading button{
    background-color: var(--base-maroon);
    height: 38px;
    width: 195px;
    border: none;
    color: var(--base-theme-color);
}
.section-hr{
    background-color: var(--base-theme-color);
    width: 100%;
    height: 2px;
    margin: 40px;
}
.skills-set{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.set-flex{
    display: flex;
    flex-direction: row;
    width: 230px;
    justify-content: space-between;
    align-items: center;
}
.skills-set p{
    width: 400px;
}
.skills-set h3{
    align-items: center;
    display: flex;
}
.latest-projects{
    background-color: var(--black);
    padding: 100px 0;
}
.latest-projects .center-div{
    display: flex;
    justify-content: space-around;
}
.latest-projects h1{
    font-size: 34px;
    font-family: 'neue-montreal-light';
    letter-spacing: 0.25em;
    line-height: 6;
}
.latest-projects .section-title{
    padding: 40px 0;
}
.place-left{
    float: left;
}
.place-right{
    float:right;
}
.project-figure{
    background: #C4C4C4;
    width: 266px;
    height: 358px;
    left: 0px;
    top: 0px;
}